@charset "utf-8";
/* CSS Document */

/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {	margin:0;	padding:0;	border:0;	outline:0;	font-weight:inherit;	font-style:inherit;	font-size:100%;	font-family:inherit; }/* remember to define focus styles! */:focus {	outline:0;}body {	color:black;	background:white;}ol,ul {	list-style: none;}/* tables still need 'cellspacing="0"' in the markup */table {	border-collapse:separate;	border-spacing:0;}caption,th,td {	text-align:left;	font-weight:normal;}blockquote:before,blockquote:after,q:before,q:after {	content:"";}blockquote,q {	quotes: "" "";}a:link,a:visited {	text-decoration: none; border: 0px solid;}a:hover,a:active {	text-decoration: underline;}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);

@font-face {
    font-family: 'AdobeGurmukhiRegular';
    src: url('../fonts/AdobeGurmukhiRegular.eot');
    src: url('../fonts/AdobeGurmukhiRegular.eot') format('embedded-opentype'),
         url('../fonts/AdobeGurmukhiRegular.woff2') format('woff2'),
         url('../fonts/AdobeGurmukhiRegular.woff') format('woff'),
         url('../fonts/AdobeGurmukhiRegular.ttf') format('truetype'),
         url('../fonts/AdobeGurmukhiRegular.svg#AdobeGurmukhiRegular') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.eot');
    src: url('../fonts/GothamLight.eot') format('embedded-opentype'),
         url('../fonts/GothamLight.woff2') format('woff2'),
         url('../fonts/GothamLight.woff') format('woff'),
         url('../fonts/GothamLight.ttf') format('truetype'),
         url('../fonts/GothamLight.svg#GothamLight') format('svg');
}

@font-face {
    font-family: 'Gotham medium';
    src: url('../fonts/ufonts_com_gothammedium.eot');
    src: url('../fonts/ufonts_com_gothammedium.eot') format('embedded-opentype'),
         url('../fonts/ufonts_com_gothammedium.woff2') format('woff2'),
         url('../fonts/ufonts_com_gothammedium.woff') format('woff'),
         url('../fonts/ufonts_com_gothammedium.ttf') format('truetype'),
         url('../fonts/ufonts_com_gothammedium.svg#ufonts_com_gothammedium') format('svg');
}

@font-face {
    font-family: 'LibreBaskervilleRegular';
    src: url('fonts/LibreBaskervilleRegular.eot');
    src: url('fonts/LibreBaskervilleRegular.eot') format('embedded-opentype'),
         url('fonts/LibreBaskervilleRegular.woff2') format('woff2'),
         url('fonts/LibreBaskervilleRegular.woff') format('woff'),
         url('fonts/LibreBaskervilleRegular.ttf') format('truetype'),
         url('fonts/LibreBaskervilleRegular.svg#LibreBaskervilleRegular') format('svg');
}
}


html, body {
	font-family: 'Open Sans', sans-serif !important;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 14px;
	background: #FFF!important;
    overflow-x: hidden;
	height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-brand {
	height: 100px;
}

.navbar-nav li .fa {
    line-height: 80px;
}

.navbar-nav .linkMen {
    color: #FFF!important;
    font-size: 12px;
    font-family: 'Gotham medium';
    line-height: 80px;
	padding: 10px!important;
}

.linkMen a {
    color: inherit;
    text-decoration: none;
}

.navbar {
	-webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}

.barragris {
	background-color: rgba(51,51,51,0.5);
}

.mainmenu-item .caret {
    color: #dd3236;
    margin-left: 5px;
}

.mainmenu-item .linkMen {
	background: none!important;
	cursor: pointer;
	
}

ul.nav.navbar-nav.navbar-right {
    margin-right: 15px;
}

.contHome {
	background: url(../images/slide_home_1.jpg) center top;
	background-size: cover;
}

.bloqueInfo {
	background: center center no-repeat;
	background-size: cover;
	height: 160px;
	text-align: center;
    padding-right: 0;
    padding-left: 0;
}

.submenu {
	position: fixed;
	width: 100%;
	left: 0px;
	top: 90px;
	margin-left: -17px;
	margin-left: 0;
	z-index: 99999;
}

.linkBloque {
	display: table-cell;
	vertical-align: middle;
	color: #FFF;
	text-decoration: none!important;
    font-size: 24px;
    line-height: 24px;
    font-family: 'AdobeGurmukhiRegular';
    padding: 0 20%;
}

.linkBloque:hover {
	background: rgba(255,0,0,.74);
	color: #FFF;
}

.linkBloque span {
    font-size: 12px;
    font-family: 'Gotham medium';
}

.sinpad {
	padding-left: 0;
	padding-right: 0;
}

#sliderHome .carousel-inner {
	display: table;
	height: 670px;
}

#sliderHome .item  {
	height: 100%;
	width: 100%;
}

#sliderHome .subtextHome  {
	font-size: 20px;
	display: block;
	line-height: 24px;
	max-width: 600px;
	margin: 15px auto;
}

#sliderHome .textHome  {
	display: table;
	text-align: center;
	height: 100%;
	width: 100%;
	font-size: 60px;
	line-height: 60px;
    font-family: 'GothamLight';
    color: #FFF;
}

#sliderHome .ccho {
	display: table-cell;
	vertical-align: middle;
	padding: 0 120px;
}

#sliderHome .carousel-control {
	background: none!important;
}

#sliderHome .carousel-control .fa {
	margin-top: 340px; 
	font-size: 60px;
	border: 1px solid #FFF;
	color: #FFF;
	border-radius: 50%;
	width: 60px;
	text-align: center;
}

footer {
    font-family: 'GothamLight';
	background: #ebebeb;
	height: 220px;
}

.contFooter {
	width: 100%;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
	color: #100971!important;
	line-height: 110px;
	font-size: 14px;
	margin-top: 60px;
	height: 110px;
}

.contFooter .fa{
	color: #100971!important;
}

.bloqueCurso {
	background: center center no-repeat;
	background-size: cover;
	height: 800px;
	text-align: center;
    padding-right: 0;
    padding-left: 0;
	display: table;
	color: #FFF;
}

.distabla {
	display: table;
	width: 100%;
	height: 100%;
}

.bloqueCurso:hover .interiorCurso {
	background: rgba(255,255,255,.75);
	color: #100971!important;
}

.interiorCurso {
	display: table-cell;
	vertical-align: middle;
	padding: 30px 50px;
}

.topCur {
    font-family: 'GothamLight';
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 18px;
}

.tituloCur {
    font-family: 'AdobeGurmukhiRegular';
	font-size: 30px;
	margin-bottom: 10px;
	line-height: 32px;
}

.subtiCur {
    font-family: 'GothamLight';
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 24px;
}

.textCur {
    font-family: 'GothamLight';
	font-size: 14px;
	margin-bottom: 10px;
	line-height: 18px;
}

.btnMasInfo {
    font-family: 'GothamLight';
	font-size: 18px;
	background: #100971!important;
	color: #FFF!important;
	text-decoration: none;
	padding: 30px 50px;
	display: inline-block;
}

.fondo_congreso {
	background: url(../images/headCongresoTrans.png) center bottom;
	height: 100%;
	width: 100%;
	background-size: auto 100%;
}

.logoCongreso {
	width: 33%;
	margin: 5px auto;
	display: block;
}

.fondo_congreso_foto {
	background: no-repeat center center;
	background-size: cover;
	height: 600px;
	padding-right: 0;
	padding-left: 0;
}

.cont_form {
	background: #7a0001;
	color: #FFF;
    padding: 150px 0;
}

.cont_form .form-group input::-webkit-input-placeholder, .cont_form .form-group textarea::-webkit-input-placeholder {
    color: #FFF;
}

.cont_form .form-group input, .cont_form .form-group textarea {
    font-family: 'GothamLight';
	font-size: 14px;
    background: transparent;
    border-radius: 0;
    border-color: #ec2028;
    color: #FFF;
}

.cont_form .form-group textarea {
	resize: none;
	height: 230px;
}

.btnEnviarCont {
    font-family: 'GothamLight';
	font-size: 14px;
    background: #ec2028;
    color: #FFF;
	width: 100%;
	border: 0;
    border-radius: 0;
    padding: 20px;
}

.infoCont {
	text-align:  center;
    font-family: 'GothamLight';
	font-size: 14px;
	line-height: 32px;
}

.cont_congreso {
/*
	background: #ebebeb;
*/
	background: #FFF;
}

.fondoCongreso .cont_congreso {
	background: #FFF;
}

#modalSponsor #tituloSponsor {
    font-family: 'Open Sans';
	font-size: 28px;
}

#modalSponsor .notaCop a {
	color: #ec2028;
	text-decoration: none;
}

.notaCop {
	margin: 20px auto;
    font-family: 'Open Sans';
	font-size: 18px;
	color: #100971;
	text-align: center;
}

.bloque_congreso {
	margin: 40px auto;
	width: 600px;
    font-family: 'Open Sans';
	font-size: 18px;
	color: #100971;
	text-align: center;
}

.bloque_sponsors {
	margin: 40px auto;
	width: 100%;
    font-family: 'Open Sans';
	font-size: 18px;
	color: #100971;
	text-align: center;
}

.imgCongresosLogo {
	width: 100%;
	max-width: 200px;
	margin: 10px auto;
}

.imgCongreso {
	width: 100%;
}
a.linkArancel {
    margin: 10px auto;
    display: block;
}
.linkArancel .imgCongreso {
	width: auto;
}

.tituloCong {
	margin: 40px auto;
    font-family: 'Open Sans';
	font-size: 36px;
	line-height: 38px;
	color: #ec2028;
}

.txtaz {
	font-size: 48px;
	color: #100971;
}

.colorRojo {
	color: #ec2028;
}

.colorAz {
	color: #100971;
}

.autoridadesTb {
    font-family: 'GothamLight';
	font-size: 16px;
}

.martop100 {
	margin-top: 100px;
}

.columas3 {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}


.wid100 {
	width: 100%;
}

.bloque_congreso.wid100 {
	margin-bottom: 200px;
}

footer .mainmenu-item a {
	padding-left: 10px;
	padding-right: 10px;
	background: none!important;
}


.tipoTabla {
	display: table;
	height: 600px;
	position: absolute;
	top: 0;
	width: 100%;
}

.tipoCeldaCenter {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.subTexHead {
    font-family: 'GothamLight';
	font-size: 24px;
	color: #FFF!important;
}

.titHead {
    font-family: 'AdobeGurmukhiRegular';
	font-size: 60px;
	color: #FFF!important;
	width: 720px;
    margin: 0 auto;
}

.subTitHead {
    font-family: 'GothamLight';
	font-size: 36px;
	color: #FFF!important;
}

.btnMasInfoCur {
	margin: 25px auto;
	padding: 15px 50px;
	color: #100971;
	background: none!important;
    font-family: 'GothamLight';
	font-size: 12px;
	border: 1px solid #100971;
	display: block;
}

.colCurSel {
	background: #7a0001!important;
	color: #FFF;
	height: 600px;
	text-align: center;
}

.colCurSel:hover {
	background: #ff0000!important;
}

.colOraSel {
	background: #FFF!important;
	color: #100971;
	height: 400px;
	text-align: center;
	cursor: pointer;
}

.colOraSel:hover {
	background: #EEE!important;
}

.clear {
    clear: both;
}

.fotoOra {
    text-align: center;
	position: relative;
	margin-top: 15px;
}

.fotoOra img, .modalOraImg img {
    width: 100%;
}

.fotoOra span{
	padding: 30px 0;
    font-size: 100px;
}

.titOradores {
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 20px;
}

.titOradores:after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    margin: 0 auto;
    background-color: #ec2028;
    margin-top: 10px;
    margin-bottom: 5px;
}

.modalOraNombre {
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.modalOraNombre:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background-color: #ec2028;
    margin-top: 10px;
    margin-bottom: 5px;
}

.textDesCur {
    color: #999999;
    font-family: 'Open sans';
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

.modalOraCargo, .modalOraTitulo {
    color: #999999;
    font-family: 'Open sans';
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 15px 0;
}

.modalOraDesc, .modalOraCv {
    color: #999999;
    font-family: 'Open sans';
    font-size: 16px;
    margin: 15px 0;
}

.colOraSel:hover .fotoOra:before {
	content:'';
	position: absolute;
	width: 100%;
	left: 0;
	height: 100%;
	background: rgba(0,0,0,0.6);
}

.titDesCur {
    font-family: 'Open Sans';
	font-size: 30px;
	padding: 30px 40px 10px;
}

.textDesCur {
    font-family: 'Open Sans';
	font-size: 14px;
	padding: 10px 40px 30px;
}

.row.descCurso {
    height: 600px;
}

.carousel-control 			 { width:  8%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}

/**
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }	
}
*/
#modalPrensa .modal-dialog {
	width: 100%!important;
	position: absolute;
	bottom: 0!important;
	margin: 0;
	height: 70%!important;
}

#modalPrensa.modal {
	overflow-y: hidden;
}

#modalPrensa .modal-content {
	border-radius: 0;
	height: 100%;
	border: 0;
}

#modalPrensa.modal.fade .modal-dialog {
	-webkit-transform: translate(0,100%);
	-ms-transform: translate(0,100%);
	transform: translate(0,100%);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
}

#modalPrensa.modal.in .modal-dialog {
	-webkit-transform: translate(0,0%);
	-ms-transform: translate(0,0%);
	transform: translate(0,0%);
}

#modalPrensa .modal-body {
	padding: 0;
	height: 100%;
}

.aniosCont {
	text-align: right;
	width: 100%;
	height: 70px;
}

.mesCont {
	text-align: center;
	width: 100%;
	height: 70px;
}

.btnAnio, .btnMes {
	display: inline-block;
	width: auto;
	height: 70px;
	color: #123987;
	background: #FFF;
	font-size: 14px;
	text-decoration: none!important;
	line-height: 70px;
	font-weight: bold;
	text-align: center;
	padding: 0 10px;
}

.btnAnio:hover, .btnAnio:focus, .btnMes:hover, .btnMes:focus {
	color: #FFF!important;
	background: #123987;
}

.prensaSelCont {
	border-bottom: 1px #d9d9d9 solid;
	z-index: 9999999;
	height: 71px;
}

.prensaCar .prenFecha {
	font-family: 'FF_DIN_Black', sans-serif !important;
	text-align: center;
	width: 100%;
	color: #2763DB;
	line-height: 30px;
	font-size: 16px;
}

.prensaCar .prenTit {
	font-family: 'FF_DIN_Black', sans-serif !important;
	text-align: center;
	width: 100%;
	color: #123987;
	line-height: 14px;
	font-size: 18px;
	padding: 10px 0;
}

.prensaCar .premImg img {
	vertical-align: middle;
}

.prensaCar .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.prensaCar .premImg {
	width: 100%;
	height: 120px;
	overflow: hidden;
	white-space: nowrap;
}

.prensaCar .prenCope {
	font-family: 'DINNextLTProLight', sans-serif !important;
	text-align: center;
	width: 100%;
	color: #78849b;
	line-height: 14px;
	font-size: 14px;
	padding: 10px 0;
}

.itemPren.item {
	height: 600px!important;
}

.btnSeguirLeyendo {
	border: 2px solid #123987;
	color: #123987!important;
	padding: 10px;
	text-align: center;
	margin: 10px auto;
	border-radius: 10px;
	display: inline-block;
	width: auto;
	text-decoration: none!important;
}

.prensaCar {
    text-align: center;
	height: 100%;
}

.prensaCar .left {
    position: absolute;
    left: 0;
    top: 50%;
    color: #123987!important;
    font-size: 34px;
}

.prensaCar .right {
    position: absolute;
    right: 0;
    top: 50%;
    color: #123987!important;
    font-size: 34px;
}

#carousel-prensa {
    height: 100%;
    width: 100%!important;
}

#carousel-prensa .itemPren{ 
	height:  100%;
	padding: 30px!important;
	border-right: 1px solid #d9d9d9;
}

.btnShareMail {
	width: 30px;
	height: 30px;
	margin: 20px;
	display: inline-block;
	background: url(../images/miniIconMail.png) 0 0 no-repeat;
	text-indent: -999999px;
}

.btnShareFace {
	width: 30px;
	height: 30px;
	margin: 20px;
	display: inline-block;
	background: url(../images/miniIconFace.png) 0 0 no-repeat;
	text-indent: -999999px;
}

.btnShareTwt {
	width: 30px;
	height: 30px;
	margin: 20px;
	display: inline-block;
	background: url(../images/miniIconTwt.png) 0 0 no-repeat;
	text-indent: -999999px;
}

.sepSocial {
	width: 3px;
	height: 30px;
	margin: 20px 0;
	display: inline-block;
	border-right: 1px solid #d9d9d9;
	display: inline-block;
	background: url(../images/miniIconTwt.png) 0 0 no-repeat;
	text-indent: -999999px;
}

#modalNota .notaFecha {
	font-family: 'FF_DIN_Black', sans-serif !important;
	text-align: center;
	width: 100%;
	color: #2763DB;
	line-height: 30px;
	font-size: 30px;
}

#modalNota .notaTit {
	font-family: 'FF_DIN_Black', sans-serif !important;
	text-align: center;
	width: 100%;
	color: #123987;
	line-height: 30px;
	font-size: 30px;
	padding: 10px 0;
}

#modalNota .modal-dialog {
	width: 900px;
}

#modalNota .notaCop {
	font-family: 'DINNextLTProLight', sans-serif !important;
	text-align: center;
	width: 100%;
	color: #78849b;
	line-height: 20px;
	font-size: 20px;
	padding: 10px 0;
}

#modalNota {
	overflow: hidden;
	z-index: 9999999;
}

#modalNota .modal-body {
	padding: 30px 40px;
}

#modalPrensa button.close {
	padding: 20px 0;
	color: #123987;
	opacity: 1;
	font-size: 35px;
}

#modalNota .notaTxt {
	font-family: 'DINNextLTProLight', sans-serif !important;
	text-align: left;
	width: 100%;
	color: #78849b;
	line-height: 20px;
	font-size: 16px;
	padding: 10px 0;
	overflow-y: auto;
	height: 340px;
}

.notaShare {
	text-align: right;
}

.notaShare2 {
	text-align: center;
	padding: 10px 0;
}

#modalNota .btnShareMail, #modalNota .btnShareFace, #modalNota .btnShareTwt, #modalNota .sepSocial {
	margin: 0;
	text-indent: 99999px;
}

.btnCloseNota {
	position: relative;
	color: #123987!important;
	top: 10px;
	right: 0;
	font-size: 20px;
	margin: 0;
	padding: 5px 15px;
}

a.linkModalSponsor {
    margin: 25px;
}

.itemNone {
	width: 400px;
	height: 200px;
	text-align: center;
	margin: 20px auto;
}

		    
.col-md-2.iconContent {
    text-align: center;
    font-size: 20px;
    color: #ec2028;
	position: relative;
	min-height: 120px;
    padding: 15px;
}
 		    
.iconContent i.fa {
    border: 1px solid #ec2028;
    border-radius: 100%;
    padding: 10px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
}

.iconSepa {
    height: 100%;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #FFF;
    background: #2a6496;
    font-size: 26px;
    font-family: 'Open Sans';
    text-align: center;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    color: #2a6496;
    background: #FFF;
    font-size: 26px;
    font-family: 'Open Sans';
    text-align: center;
}

.col-md-10.textAgendaCon {
    font-family: 'Open Sans';
    padding: 15px;
}

.nav-tabs>li>a span {
    display: block;
    font-size: 14px;
}

.agendaTime {
    font-size: 20px;
}

.agendaTime i {
	margin-right: 15px;
	color: #ccc;
    font-size: 15px;
}

.agendaTituloC {
	font-size: 20px;
	padding: 10px 0 0;
}

.agendaSubtC {
    font-size: 14px;
    font-style: italic;
	margin-bottom: 10px;
	border-bottom: 1px solid #eff1f5;
	padding: 0px 0 10px;
}

.agendaBaj {
    position: absolute;
    right: 10px;
    bottom: 11px;
    font-size: 20px;
    color: #ec2028;
}

.agendaLinko {
	position: relative;
	cursor: pointer;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    border: 1px solid #EEE;
}

.nav-tabs>li>a {
    margin-right: 0px!important;
	border: 0!important; 
	border-radius: 0!important; 
}

.tab-content {
    border: 1px solid #EEE;
	border-top: 0;
	position: relative;
}


.tab-content:before {
    content: '';
    height: 100%;
    border-left: 1px solid #eee;
    position: absolute;
    left: 84px;
    top:0;
}

.carOradoresCont .left {
    position: absolute;
    left: 0;
    top: 20%;
    color: #FFF!important;
    font-size: 34px;
}

.carOradoresCont .right {
    position: absolute;
    right: 0;
    top: 20%;
    color: #FFF!important;
    font-size: 34px;
}

.carOradoresCont {
	position: relative;
}

.iconAlianzas img {
	max-width: 120px;
	max-height: 120px;
	width: auto;
	height: auto;
}
